/* Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;

    background: conic-gradient(from 65deg at 50%,  #35631A, #8CA630);
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
}

/* Smooth shadow effect for all <select> elements */
select {
    margin: 0px 2.5px 0px 0px;
    box-shadow: 0 1px 2.5px 0 rgba(122, 74, 0, 0.10);
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
    text-align: center;
    cursor: pointer;
}
select:focus, select:hover {
    box-shadow: 0 1px 5px 0 rgba(122, 74, 0, 0.18);
}

body div#content {
    position: relative;
    
    height: 80%;
    width: 80%;
    
    background-color: #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    overflow: auto;
}

body div#content div.exercise div.item {
    display: grid;
    align-items: center;
    grid-template-areas: 
    "number headline guideline"
    "hr hr hr";

    column-gap: 10px;
    height: max-content;
    width: fit-content;
}

/* Grid areas */
body div#content div.exercise div.item hr {grid-area: hr;}

/* Items */
body div#content div.exercise div.item p.number {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    width: 30px;
    
    color: #ffffff;
    font-weight: bold;
    background-color: #35631A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

body div#content div.exercise div.item p.headline {
    color: #35631A;
    font-family: "Sour Gummy", cursive;
    font-size: 1;
    font-weight: bold;
}

body div#content div.exercise div.item hr {
    height: 5px;
    width: 100%;
    
    background-color: #35631A;
    border: none;
    outline: none;
    margin: 0px 0px 10px 0px;
}

/* Subitems */
/* Items A and B */
body div#content div.exercise div.subitem div.headline-row {
    display: flex;
    align-items: baseline;
    gap: 5px;
    
    height: 30px;
    width: fit-content;
    margin: 0px 0px 10px 10px;
}

body div#content div.exercise div.subitem p.letter {
    color: #35631A;
    font-family: "Sour Gummy", cursive;
    font-size: 1.25em;
    font-weight: bold;
}

body div#content div.exercise div.subitem div.headline-row div.audioPlayer {
    display: flex;
    align-items: center;
    gap: 5px;

    height: 30px;
    width: fit-content;

    background-color: #8CA630;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 10px;
}

body div#content div.exercise div.subitem div.headline-row div.audioPlayer img.icon {
    height: 20px;
    width: fit-content;
    cursor: pointer;
}

/* Questions */
body div#content div.exercise div.subitem div.question {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    width: max-content;
    margin: 0px 0px 0px 25px;
    padding: 0px 0px 0px 25px;
    
    padding: 10px 0px;
    border-top: 1px solid #35631A;
}

body div#content div.exercise div.subitem div.question div.question-row {
    display: flex;
    align-items: center;
    gap: 5px;
    
    height: auto;

    background-color: #f3ffc8;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
}

body div#content div.exercise div.subitem div.question div.question-row p.number {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    width: 30px;

    color: #ffffff;
    font-weight: bold;
    background-color: #35631A;
    border-radius: 10px;
}

body div#content div.exercise div.question div.question-row p.text select {
    height: 30px;
    width: fit-content;

    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    padding: 0px 10px;

}

/* -------------------- */
/* Buttons */
body div#content div#buttons {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    z-index: 1000;
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
    pointer-events: none;
}

body div#content div#buttons > * {
    pointer-events: auto;
}

body div#content div#buttons div#check-answers,
body div#content div#buttons div#download-report {
    position: relative;
}

body div#content div#buttons button#check-answers-button,
body div#content div#buttons button#download-report-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: fit-content;
    
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 500ms ease, transform 200ms ease;
    will-change: transform;
    color:#35631A;
    cursor: pointer;
}

body div#content div#buttons button#check-answers-button:hover,
body div#content div#buttons button#download-report-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(-1px) translateX(-1px); /* optional, looks nice */
}


body div#content div#buttons button#check-answers-button {
    width: 200px;
    font-family: "Sour Gummy", cursive;
    font-size: 1.25em;
    font-weight: 400;
}

body div#content div#buttons button#download-report-button {
    aspect-ratio: 1/1;
}

/* Popup info */
body div#popup-info {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 80%;
    width: 80%;

    border-radius: 15px;
    background-color: #ffffff;
}

body div#popup-info h1 {
    font-family: "Sour Gummy", cursive;
    font-size: 2.5vw;
    color:#237a00
}

body div#popup-info span.popup-close {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    color: #237a00;
    font-family: "Dongle", sans-serif;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

body div#popup-info p {
    font-size: 1.25vw;
    color:#ffffff;
    
    background-color: #237a00;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px;
}

body div#popup-info div.form {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 5px;
    width: 60%;
    }

    /* Grid Areas */
    /* {row start} / {column start} / {row end} / {column end} */
    #first-name { grid-area: 1 / 1 / 2 / 4; }
    #last-name { grid-area: 1 / 4 / 2 / 7; }
    #job { grid-area: 1 / 7 / 2 / 11; }
    #age { grid-area: 2 / 1 / 3 / 2; }
    #city { grid-area: 2 / 2 / 3 / 6; }
    #state { grid-area: 2 / 6 / 3 / 7; }
    #relationship { grid-area: 2 / 7 / 3 / 11; }


body div#popup-info div.form div.fields {
    display: flex;
    flex-direction: column;
}

body div#popup-info div.form div.fields span.label {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: fit-content;
    padding: 0px 10px;
    
    font-family: "Dongle", sans-serif;
    font-size: 1.25em;
    color:#237a00;
}

body div#popup-info div.form div.fields input {
    height: 30px;
    min-width: 0;
    padding: 0px 10px;

    outline: none;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #d7ffc0;
}

#confirm {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 100px;
    margin-top: 10px;
    
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 500ms ease, transform 200ms ease;
    will-change: transform;
    color:#237a00;
    cursor: pointer;
}

/* Popup alert */
body div#popup-alert {
    position: fixed;
    z-index: 999;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 80%;
    width: 80%;

    border-radius: 15px;
    background-color: #ffffff;
}

body div#popup-alert p.alert-message {
    max-width: 75%;
    
    font-family: "Sour Gummy", cursive;
    font-size: 2vw;
    text-align: center;
    color:#237a00
}

body div#popup-alert button.alert-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 100px;
    margin-top: 10px;
    
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 500ms ease, transform 200ms ease;
    will-change: transform;
    color:#237a00;
    cursor: pointer;
}

/* Popup score */
body div#popup-score {
    position: fixed;
    z-index: 999;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 80%;
    width: 80%;

    border-radius: 15px;
    background-color: #ffffff;
}

body div#popup-score span.popup-close {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    color: #237a00;
    font-family: "Dongle", sans-serif;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

body div#popup-score h1 {
    height: auto;
    width: 75%;
    text-align: center;

    font-family: "Sour Gummy", cursive;
    font-size: 3em;
    color:#237a00
}

body div#popup-score p {
    padding: 10px 20px;

    font-size: 1.25em;
    color:#ffffff;
    background-color: #237a00;
    border-radius: 10px;
    box-sizing: border-box;
}